.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.section{
    padding-block: 30px 50px;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    padding-inline: 15px;
}
.feedback__content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #D5C7BC;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #AC92A6;
    padding: 15px;
}

.feedback__action_content{
  display: flex;
  flex-direction: column;
  gap: 30px;

}